{% extends "plaza_base.html" %}

{% load static %}

{% block content %}
<!-- Tabla de los jugadores asociados al Equipo -->
<section id="subscribe">
  <div class="datatable-container">
    <div class="header-tools">
      <h1 >SQUAD {{ id_equipo }} </h1>          
    </div>
    <table class="datatable">
      <thead>
        <tr>
          <th >Id</th>
          <th >Jugador</th>
        </tr>
      </thead>
      <tbody>
        {% for asociado in asociados %}
        <tr>
          <td >{{ asociado.id }}</td>
          <td >{{ asociado.user }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>
</section> 

<section id="subscribe">
  <div class="datatable-container"> 
    <!-- Buscador de jugadores -->
    <div class="header-tools">      
      <div class="tools">        
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" >
          {% csrf_token %}
          <div class="box">
          <h3 >BUSCAR JUGADORES</h3> 
            <div class="container-4">
              <input type="search" id="search" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}"/>
              <button class="icon"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>  
      </div>      
    </div> 
    {% if jugadores %}
    <table class="datatable">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Apellidos</th>
          <th>E-mail</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for p in jugadores %}
        {% if usuario.id != user.id %}
        <tr>
          <td>{{ p.username }}</td>
          <td>{{ p.apellidos }}</td>
          <td>{{ p.email }}</td>
          <td><a href="{% url 'asociar_equipo_view' id_equipo=obj.id id_jugador=p.id %}" class="boton1">Asociar </a></td>
        </tr>
        {% else %}
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>NO HAY JUGADORES REGISTRADOS</h1>
    {% endif %}

<!-- fin -->
  </div>
</section>


{% endblock content %}