{% extends 'plaza_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!--==========================
=            html            =
===========================-->
<section class="seccion-perfil-usuario">
	<form class="" id="formLogin" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="perfil-usuario-header">		
			<div class="perfil-usuario-portada">
				<div class="perfil-usuario-avatar">
					<img src="/media/{{ user.imagen }}" alt="img-avatar">				
				</div>						
			</div>		
		</div>	
		<br>
		<div class="wrap-login">
			<h3 class="titulo">@{{ user.username }}</h3>
			<br>
			<div class="wrap-input100" data-validate = "Usuario incorrecto">
				{{form.username|as_crispy_field}}
				<!-- <input class="input100" type="text" id="usuario" name="usuario" placeholder="Usuario"> -->
				<span class="focus-efecto"></span>
			</div>
			<div class="wrap-input100" data-validate = "Usuario incorrecto">
				{{form.imagen|as_crispy_field}}
				<!-- <input class="input100" type="text" id="usuario" name="usuario" placeholder="Usuario"> -->
				<span class="focus-efecto"></span>
			</div>
			<div class="control-group">
				<div class="controls">
					<a href="{% url 'perfil' %}" class="mt-4 inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded dark:text-dark-txt text-indigo-700 dark:bg-dark-second bg-indigo-100 dark:hover:bg-dark-third hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-dark-third focus:ring-indigo-500"></a>
					<button type="submit" class="boton2">
						Actualizar
					</button>
				</div>
			</div>
		</div>
	</form>
</section>
<br>
<div class="mis-redes" style="display: block;position: fixed;bottom: 1rem;left: 1rem; opacity: 0.5; z-index: 1000;">
	<p style="font-size: .75rem;">GELIONZ GAMER</p>
	<div>
		<a target="_blank" href="https://www.facebook.com/ApockGraficos"><i class="fab fa-facebook-square"></i></a>
		<a target="_blank" href="https://twitter.com/ApockGraficos"><i class="fab fa-twitter"></i></a>
		<a target="_blank" href="https://www.instagram.com/ApockGraficos"><i class="fab fa-instagram"></i></a>
		<a target="_blank" href="https://www.youtube.com/channel/UC15DkMZQ80aoW_Rqk4n2T_w"><i class="fab fa-youtube"></i></a>
	</div>
</div>
{{ block.super }}
{% endblock %}