{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- BIENVENIDA -->
<!--==========================
  Video Introductorio Section
  ============================-->

<section class="intro">
  <div class= "intro" id= "video">
    <iframe width="560" height="350" src="https://www.youtube.com/embed/PZUJUcWuE3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
  </div>
  <div class= "intro" id= "textoCentral">
    <p> Experimenta Una Experiencia única<br>En el nivel competitivo.<br>Inscríbete, Participa y GANA!!!</p>
  </div>
  <div class= "intro" id= "empieza-btn-container">
    <a class= "intro" id= "empieza-btn" href="{% url 'login' %}">Empieza Ya!!!</a>
  </div>
</section>

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'principal/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">BIENVENIDO A</span>
            <span class="section-heading-lower">GELIONZ GAMER</span>
          </h2>
          <p class="mb-3">Vive una experiencia nueva en el Nivel Copetitivo.
          </p>         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Experiencia, calidad, resposabilidad y compromiso nos caracteriza y nos hace el numero #1.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


