{% extends "plaza_base.html" %}

{% load static %}

{% block content %}
{% if profile.user.rol_de_usuario == jugador and request.user.is_authenticated %}
<a class="btnagregar" href="{% url 'crear_equipo' %}">Crear equipo</a>
{% endif %}
<div class="datatable-containerx">

    <table class="datatablex">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Capitan</th>
                <th>Nombre de Equipo</th>
                <th>Acciones</th>                   
            </tr>
        </thead>

        <tbody>
            {% for p in lista_equipos %}
            <tr>
                <td class="tablex-checkbox"><input type="checkbox" name="" id=""></td>
                <td><span class="availablex"></span></td>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre_capitan }}</td>
                <td>{{ p.nombre_equipo }}</td>
                <td>
                    {% if profile.user.rol_de_usuario == jugador and request.user.is_authenticated %}
                    <a href="{% url 'detalle_equipo_view' id_equipo=p.id %}" class="btn btn-secondary">Detalle</a>
                    <a href="#" class="btn btn-warning" style="color: aliceblue;">Editar</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                </td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}