{% extends "plaza_base.html" %}

{% load static %}

{% block content %}
<section id="subscribe">
    {% if profile.user.rol_de_usuario == jugador and request.user.is_authenticated %}
    <div class="col-md-4 subscribe-btn-container">
        <a class="subscribe-btn" href="{% url 'crear_equipo' %}">Crear Equipo</a>
    </div>
    {% endif %}
    <div class="datatable-container">
        <div class="header-tools">
            <div class="tools">
                <ul>
                    <li><span><input type="checkbox"></span></li>
                    <li>
                        <button>
                            <i class="material-icons">add_circle</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">edit</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </li>
                    <li>
                        <button>
                            <i class="material-icons">share</i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="search">
                <input type="text" name="" id="" class="search-input">
            </div>
        </div>

        <table class="datatable">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Lider</th>
                    <th>Nonmbre Equipo</th>
                    <th>Date</th>
                    <th>Accion</th>                    
                </tr>
            </thead>

            <tbody>
                {% for p in lista_equipos %}
                <tr>
                    <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
                    <td><span class="available"></span></td>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre_capitan }}</td>
                    <td>{{ p.nombre_equipo }}</td>
                    <td>2020/05/01</td>
                    <td>
                        {% if profile.user.rol_de_usuario == jugador and request.user.is_authenticated %}
                        <a href="{% url 'detalle_equipo_view' id_equipo=p.id %}" class="">Detalle</a>
                        {% endif %}
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="footer-tools">
            <div class="list-items">
                Show
                <select name="n-entries" id="n-enties" class="n-entries">
                    <option value="15">5</option>
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                </select>
                entries
            </div>

            <div class="pages">
                <ul>
                    <li><span class="active">1</span></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                    <li><button>4</button></li>
                    <li><span>...</span></li>
                    <li><button>9</button></li>
                    <li><button>10</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}