{% extends "plaza_base.html" %}

{% load static %}

{% block content %}

{% if profile.user.rol_de_usuario == jugador and request.user.is_authenticated %}
<a class="btnagregar" href="{% url 'crear_equipo' %}">Crear equipo</a>
{% endif %}



<table class="table">
    <thead>
        <tr class="xd">
            <th scope="col">Id</th>
            <th scope="col">Capitan</th>
            <th scope="col">Nombre equipo</th>
    </thead>
    <tbody>
        {% for p in lista_equipos %}
        <tr>
            <td style="color: aliceblue;">{{ p.id }}</td>
            <td style="color: aliceblue;">{{ p.nombre_capitan }}</td>
            <td style="color: aliceblue;">{{ p.nombre_equipo }}</td>
            <td>
                {% if profile.user.rol_de_usuario == jugador and request.user.is_authenticated %}
                <a href="{% url 'detalle_equipo_view' id_equipo=p.id %}" class="btn btn-secondary">Detalle</a>
                <a href="#" class="btn btn-warning" style="color: aliceblue;">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}