{% extends "plaza_base.html" %}

{% load static %}

{% block content %}
<!-- Tabla de los jugadores asociados al Equipo -->
<section id="subscribe">
  <div class="datatable-container">
    <div class="header-tools">
      <h1 >EVENTOS INSCRIPTOS {{ id_evento }} </h1>          
    </div>
    <table class="datatable">
      <thead>
        <tr>
          <th >Id</th>
          <th >Tipo Evento</th>
          <th >Codigo de la sala</th>
        </tr>
      </thead>
      <tbody>
        {% for asociadox in levento %}
        <tr>
          <td >{{ asociadox.id }}</td>
          <td >{{ asociadox.tipo_evento }}</td>
          <td >{{ asociadox.codigo }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>
</section> 

<section id="subscribe">
  
	  <!-- Listar Eventos -->
	{% for evento in levento %}

  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/box.png' %}" alt="" style="width: 50%;">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-lower">{{evento.tipo_evento}}</span>
          <span class="section-heading-upper">{{evento.fecha_hora_evento}}</span>
        </h2>
        <div style="text-align: left; font-size: 0.8em;">
          Organizador: {{evento.organizador}}
        </div>        
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="{% url 'seleccionar_equipo' id_evento=evento.id %}">Seleccionar mi equipo</a>
      </div>
      </div>
    </div>
  </div>

{% endfor %}

<!-- fin -->
  
</section>


{% endblock content %}